# Versi requirements.txt yang lebih ringan dan spesifik

streamlit==1.35.0
pandas==2.2.2
tweepy==4.14.0
tqdm==4.66.4
wordcloud==1.9.3
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
transformers==4.41.2

# Baris paling penting: Memaksa instalasi PyTorch versi CPU (lebih kecil)
torch --index-url https://download.pytorch.org/whl/cpu